.git
.git/**

.DS_Store
.idea
.idea/**
.vscode
.vscode/**

.cache
.cache/**
.gocache
.gocache/**
.gocache-*
.gocache-*/**
.gomodcache
.gomodcache/**

bin
bin/**
out
out/**
output
output/**

coverage.html
coverage.log
go-test-stdout.log
result
result/**
logs
logs/**
local
local/**

*.test
*.out
*~
