AXERN_ENDPOINT=REPLACE_ME_GATEWAY_HOST:25000
AXERN_TLS_CA_CERT=REPLACE_ME_PATH/ca.crt
AXERN_TLS_CERT=REPLACE_ME_PATH/client.crt
AXERN_TLS_KEY=REPLACE_ME_PATH/client.key
AXERN_SERVICE_URL=http://REPLACE_ME_GATEWAY_HOST:25080

AXERN_LOAD_NAMESPACE=default
AXERN_LOAD_TEMPLATE_ID=python311
# To run every data-plane profile, clear the template source by setting an image.
# AXERN_LOAD_IMAGE_REF=REPLACE_ME_REGISTRY/axern-startup-tiny-go-http:REPLACE_ME_TAG
# AXERN_LOAD_REGISTRY_CREDENTIAL_ID=REPLACE_ME_SECRET_ID
# AXERN_LOAD_SERVICE_ARGV=/usr/local/bin/axern-startup-server
AXERN_LOAD_RUNTIME_CLASS=runsc
AXERN_LOAD_REQUEST_CPU=100m
AXERN_LOAD_REQUEST_MEMORY=128Mi
AXERN_LOAD_LIMIT_CPU=500m
AXERN_LOAD_LIMIT_MEMORY=512Mi
AXERN_LOAD_STAGES=6,12,24,36
AXERN_LOAD_PHASES=sandbox,service
AXERN_LOAD_READY_TIMEOUT_SECONDS=240
AXERN_LOAD_HTTP_REQUESTS_PER_REPLICA=2
AXERN_LOAD_HTTP_WARMUP_REQUESTS_PER_WORKER=1
AXERN_LOAD_HTTP_PROFILES=keepalive
AXERN_LOAD_PROMETHEUS_URL=
AXERN_LOAD_METRICS_TIMEOUT_SECONDS=45
AXERN_LOAD_METRICS_POLL_INTERVAL_SECONDS=1
